[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "biwt"]
	path = biwt
	url = https://github.com/hardin47/biwt
[submodule "sicegar"]
	path = sicegar
	url = https://github.com/hardin47/sicegar
